.navihead {
  display: inline;
}

.fonted {
    font-family: Courier;
    font-style: 20px;

}

.namehead{
    position: relative;
    left: 80px;
}

.namenav {
    display: inline-block;
    padding: 5px;
    font-weight: 600;
    position: relative;
    top: -45px;
    left: 800px;
}
